{% extends 'base.html' %}

{% block title %}Lista Centri di Costo{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}

    <div id="jqxLayout">
        <!--autoHideGroup-->
        <div data-container="CentriDiCostoPanel">
            <div id='jqxTreeView' lista-cdc-url="{% url 'amm:ajax_centri_di_costo_per_treeview' %}"></div>
            <input type="button" style="margin: 10px;" id="jqxbutton" value="Espandi tutto" />
        </div>
        <div data-container="HelpPanel">
            Help topics</div>
        <!--documentGroup-->
        <div data-container="Document1Panel">
            <div id='ciccio' detail-cdc-url="{% url 'amm:ajax_centro_di_costo_dettaglio' %}"> </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
  function sig_vince() {
     let cdcUrl = $("#jqxTreeView").attr("lista-cdc-url");
     let source = {
       datatype: "json",
       datafields: [
         {name: 'parent'},
         {name: 'nome'},
         {name: 'id'}],
       url: cdcUrl,
       async: true
     };
     let dataAdapter = new $.jqx.dataAdapter(source, {
       loadComplete: function () {
         var records = dataAdapter.getRecordsHierarchy('id', 'parent', 'items', [{name: 'nome', map: 'label'}]);
         $("#jqxTreeView").jqxTree({source: records, width: '300px'})
       }
     });
     dataAdapter.dataBind();
  };

  $(document).ready(function () {
    // the 'layout' JSON array defines the internal structure of the layout
    var layout = [{
        type: 'layoutGroup',
        orientation: 'horizontal',
        items: [{
            type: 'tabbedGroup',
            alignment: 'left',
            width: '30%',
            items: [{
                type: 'layoutPanel',
                title: 'Centri di Costo',
                contentContainer: 'CentriDiCostoPanel',
                initContent : sig_vince()
            }]
        }, {
            type: 'layoutGroup',
            orientation: 'vertical',
            width: '70%',
            items: [{
                type: 'documentGroup',
                items: [{
                    type: 'documentPanel',
                    title: 'Dettaglio CDC',
                    contentContainer: 'Document1Panel'
                }]
            }]
        }]
    }];
    $('#jqxLayout').jqxLayout({ width: '100%', height: 600, layout: layout });

    let expandButton = $('#jqxbutton');
    let treeView = $("#jqxTreeView");
    expandButton.jqxButton({
       width: 200,
       height: 30
    });
    expandButton.click(function () {
       treeView.jqxTree('expandAll')
    });

    treeView.on('select', function (event) {
       var args = event.args;
       var item = treeView.jqxTree('getItem', args.element);
       sig_detail(item.id);
    });

  function sig_vince_old() {
     let cdcUrl = $("#jqxTreeView").attr("lista-cdc-url");
     let source = {
       datatype: "json",
       datafields: [
         {name: 'parent'},
         {name: 'nome'},
         {name: 'id'}],
       url: cdcUrl,
       async: true
     };
     let dataAdapter = new $.jqx.dataAdapter(source, {
       loadComplete: function () {
         var records = dataAdapter.getRecordsHierarchy('id', 'parent', 'items', [{name: 'nome', map: 'label'}]);
         treeView.jqxTree({source: records, width: '300px'})
       }
     });
     dataAdapter.dataBind();
   }

  function sig_detail(cdcId) {
      var url = $("#ciccio").attr("detail-cdc-url");  // recupera l'url della lista corsi
      var anno = 1;

      $.ajax({                       // Inizializza la richiesta AJAX
        url: url,                    // Imposta l'url della richiesta
        data: {
          'cdcId': cdcId               // Mette l'anno nei parametri di GET
        },
        success: function (data) {   // `data` è il risultato della funzione della vista `load_corsi`
          $("#ciccio").html(data);  // rimpiazza il contenuto del combo box della lista dei corsi con quello
                                    // arrivato dal server !
        }
      });
  }

});

</script>

{% endblock %}


