{% load jqwidgets_tags %}

<script type="text/javascript">

  $(document).ready(function () {
      var {{ widget.name }}_source = {
                datatype: "json",
                datafields: {{ widget.jqxattrs|jqxattrs_data_adapter_fields }},
                url: "{% url widget.data_adapter_url %}"
            };
      var {{ widget.name }}_data_adapter = new $.jqx.dataAdapter({{ widget.name }}_source);


    $("#{{ widget.attrs.id }}").jqxComboBox({placeHolder: '{{ widget.name }}', source: {{ widget.name }}_data_adapter {{ widget.jqxattrs|generic_jqxattrs }} });

    {% if widget.value != None %} $("#{{ widget.id }}").val('{{ widget.value|stringformat:'s' }}'); {% endif %}
  });

</script>
<div name="{{ widget.name }}" {% include "includes/jq/attrs.html" %}></div>
