asn1crypto==0.24.0
bcrypt==3.1.4
cffi==1.11.4
cryptography==2.1.4
dj-database-url==0.4.2
Django==2.0.1
django-widget-tweaks==1.4.1
docxtpl==0.4.6
Fabric==1.14.0
idna==2.6
Jinja2==2.10
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
paramiko==2.4.0
pipdeptree==0.10.1
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pyodbc==4.0.21
python-decouple==3.1
python-docx==0.8.6
pytz==2017.3
selenium==3.9.0
six==1.11.0
Unipath==1.1
