{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <div id='jqxwindow'>
    <div>Successo !!</div>
    <div>
      <div align="center">
        <strong>La Password è stata modificata !</strong><br><br>
        <a href="{% url 'home' %}">Torna alla home page</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function () {
      //
      $("#jqxwindow ").jqxWindow({ height:'auto', width: 400, theme: 'orange', isModal: true, resizable: false, showCloseButton: false, draggable: false });
    });
  </script>
{% endblock %}