{% extends 'accounts/base_accounts.html' %}

{% block title %}Resetta la password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resetta la tua password</h3>
          <p>Inserisci il tuo indirizzo e-mail e ti spediremo una mail per resettare la tua password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Spedisci e-mail per resettare la Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
