{% extends 'accounts/base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resetta la password</h3>
          <p>Controlla la tua caselle di posta elettronica. Ci dovresti trovare un messaggio con un link da cliccare per resettare la password.
            Se non la trovi nell'arco di qualche minuto, controlla anche nello spam.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Entra</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
