{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div id='jqxwindow'>
    <div>Resetta la password</div>
    <div>
      <p>Controlla la tua caselle di posta elettronica. Ci dovresti trovare un messaggio con un link da cliccare per resettare la password.
        Se non la trovi nell'arco di qualche minuto, controlla anche nello spam.</p>
        <div align="center"><p>
          <a id="button" href="{% url 'login' %}">Entra</a></p>
        </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function () {
      // Create jqxButton widgets.
      $("#button").jqxButton({ template: "primary", width: '400px' });
      //
      $("#jqxwindow ").jqxWindow({ height:'auto', width: 500, theme: 'orange', isModal: true, resizable: false, showCloseButton: false, draggable: false });
    });
  </script>
{% endblock %}

