Ciao,

Qualcuno ha chiesto di resettare la password per l'indirizzo di posta elettronica {{ email }}.

Se ricevi questa mail e non sei tu che hai chiesto il reset della password potrebbe essere per via un altro utente
che ha inserito per sbaglio il tuo indirizzo mentre cercava di resettare la password del proprio account.
Se non sei stato tu non devi fare nessuna azione e puoi tranquillamente ignorare questa mail ed anche il resto di ciò
che vi è scritto.

Se decidi di resettare la password procedi così :

Clicca il seguente link e segui le istruzioni : {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Il nome utente associato a questa password è : {{ user.username }}

Se cliccando il link sopra indicato non succede nulla, dovresti copiarlo ed incollarlo nella barra degli indirizzo di
un Browser (ad es. Firefox, Chrome, ecc.)


Grazie,

Il Team di Supporto della Scuola Camerana
