{% extends 'accounts/base_accounts.html' %}

{% block title %}Resetta la password{% endblock %}

{% block content %}
  <div id='jqxwindow'>
    <div><h3 class="card-title">Resetta la tua password</h3></div>
    <div>
          <p>Inserisci il tuo indirizzo e-mail e ti spediremo una mail per resettare la tua password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <div align="center"><br>
              <button id="button" type="submit">Spedisci e-mail per resettare la Password</button>
            </div>
          </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function () {
      // Create jqxButton widgets.
      $("#button").jqxButton({ template: "primary", width: '200' });
      //
      $("#jqxwindow ").jqxWindow({ height:'auto', width: 400, theme: 'orange', isModal: true, resizable: false, showCloseButton: false, draggable: false });
    });
  </script>
{% endblock %}

