{% extends 'base.html' %}

{% block title %}La Password è stata modificata!{% endblock %}

{% block content %}
  <div id='jqxwindow'>
    <div>La Password è stata modificata!</div>
    <div>
        La Passoword è stata modificata ed ora puri entrare !
        <div align="center"><br><br>
          <p><a href="{% url 'login' %}" id="button">Vai alla pagina di Login</a></p>
        </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function () {
      // Create jqxButton widgets.
      $("#button").jqxButton({ template: "primary" });
      //
      $("#jqxwindow ").jqxWindow({ height:'auto', width: 400, theme: 'orange', isModal: true, resizable: false, showCloseButton: false, draggable: false });
    });
  </script>
{% endblock %}
