{% extends 'base.html' %}
{% load jqwidgets_tags %}

{% block title %}Inserisce Corso{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}

<form method="post" novalidate>

  {% csrf_token %}
  {% include "includes/form_head.html" with form=spesa %}

  <table width="100%" border="1">
      <tr>
        <td>Tipo di Spesa</td>
        <td>{% siw_field spesa.tipo %}</td>
      </tr>
      <tr>
        <td>Stato</td>
        <td>{% siw_field spesa.stato %}</td>
      </tr>
      <tr>
          <td>Numero Protocollo</td>
          <td>{% siw_field spesa.numero_protocollo %}</td>
      </tr>
      <tr>
          <td>Data Ordine</td>
          <td>{% siw_field spesa.data_ordine %}</td>
      </tr>
      <tr>
          <td>Descrizione</td>
          <td>{% siw_field spesa.descrizione %}</td>
      </tr>
      <tr>
          <td>Imponibile</td>
          <td>{% siw_field spesa.imponibile %}</td>
      </tr>
      <tr>
          <td>Aliquota IVA (%)</td>
          <td>{% siw_field spesa.aliquota_IVA %}</td>
      </tr>
      <tr>
          <td>IVA Comunque Indetraibile (%)</td>
          <td>{% siw_field spesa.percentuale_IVA_indetraibile %}</td>
      </tr>
      <tr>
        <td>Note : </td>
        <td>{% siw_field spesa.note %}</td>
      </tr>
  </table>

  <p>
  <div align="center">
    <button id="do_insert" type="submit">Salva</button>
  </div>
  </p>

</form>


{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#do_insert").jqxButton({ width: '200', height: '30', template: "success"});

    });
</script>
{% endblock %}



