<strong>{{ persona.cognome }} {{ persona.nome }}</strong> può essere inserito come collaboratore.
<br><br>
Per procedere all'inserimento dei dati premere il pulsante qui sotto
<br><br>

<div align="center">
<br>
<form method="post" novalidate>
{% csrf_token %}
<input type="hidden" value="{{ persona.pk }}" name="id_persona">
<button type="submit" id="nuovo_collaboratore">Inserisci Collaboratore</button>
</form>

</div>

<script type="text/javascript">

  $("#nuovo_collaboratore").jqxButton({ template: "success" });

  $("#nuovo_collaboratore").on('click1', function () {
                    window.location = "http://www.google.it";
  });
</script>