{% load humanize %}

<br>
{% if form.in_uso %}
    <small>Il record è attualmente utilizzabile.</small>
{% else %}
    <small>Il record <strong>non è</strong> attualmente utilizzabile.</small>
{% endif %}

<small>
    <div>
        Data di creazione : {{ form.data_creazione|naturaltime }}
    </div>
    <div>
        Data Aggiornamento : {{ form.data_aggiornamento|naturaltime }}
    </div>
    <div>
        Utente che ha effettuato l'ultimo aggiornamento : {{ form.last_user }}
    </div>
</small>