{% load si_template_tags %}
{% comment %}
    La funzione 'can' è definita come template tag nel modulo accounts/templatetags/si_template_tags.py
    Il dizionario 'siwperms' è definito nel template processor nel modulo siw/context_processor.py
{% endcomment %}

<div id='main_menu'>
  {% if user.is_authenticated %}
    <ul>
      {% comment %}
      In questa sezione mostro i menù relativi alle stampe.
      {% endcomment %}
      {% if user|can:siwperms.STAMPE_MDL %}     {# Vedi nota sopra per spiegazione #}
      <li>Stampe
        <ul>
          <li><a href="{% url 'attesta:mdl' %}">MDL</a></li>
        </ul>
      </li>
      {% endif %}
      {% comment %}
      In questa sezione mostro i menù relativi alle stampe.
      {% endcomment %}
      {% if user|can:siwperms.MENU_AMM %}     {# Vedi nota sopra per spiegazione #}
      <li>Amministrazione
        <ul>
          {% if user|can:siwperms.MENU_AMM_CDC %}
          <li><a href="{% url 'amm:cdc_home' %}">Centri di Costo</a></li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      {% comment %}
      In questa sezione mostro i menù relativi alla gestione dell'utente.
      {% endcomment %}
      <li>{{ user.username }}
        <ul>
          <li><a href="{% url 'my_account' %}">Il mio Account</a></li>
          <li><a href="{% url 'password_change' %}">Cambio password</a></li>
          <li type='separator'></li>
          <li id="id_logout"><a href="{% url 'logout' %}">Esci</a></li>
        </ul>
      </li>
    </ul>
  {% else %}
    <ul>
      <li><a href="{% url 'login' %}">Entra</a></li>
      <li><a href="{% url 'signup' %}">Registrati</a></li>
    </ul>
  {% endif %}
</div>

<script type="text/javascript">
  $(function() {
    $("#main_menu").jqxMenu({ height: 30 });
  });
</script>
