{% extends 'base.html' %}
{% load jqwidgets_tags %}

{% block title %}Inserisce Corso{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}


<form method="post" novalidate>

  {% csrf_token %}
  {% include "includes/form_head.html" with form=corso %}

  <table width="100%" border="1">
      <tr>
          <td width="20%">Codice Edizione : {% siw_field corso.codice_edizione %}</td>
          <td width="80%">Denominazione : {% siw_field corso.denominazione %}</td>
      </tr>
      <tr>
        <td width="10%">Durata : </td>
        <td>{% siw_field corso.durata %}</td>
      </tr>
      <tr>
        <td>{{ corso.cdc }}</td>
        <td><button type="button" id="choose_cdc">Inserisce</button></td>
      </tr>


  </table>





  <div align="center">
    <button id="do_insert" type="submit">Inserisce</button>
  </div>
</form>

  <div id="choose_cdc_window">
    <div id='jqxTreeView' lista-cdc-url="{% url 'amm:ajax_centri_di_costo_per_treeview' %}"></div>
  </div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#do_insert").jqxButton({ width: '200', height: '30', template: "success"});

        $("#choose_cdc").jqxButton({ width: '100', height: '30', template: "success"});
        $('#choose_cdc').on('click', function () {
          $('#choose_cdc_window').jqxWindow({  width: 400,
                      height: 600, resizable: false,
                      position: 'center',
                      isModal: true,
                      initContent : sig_vince(),
                      title: 'Scegli Centro di Costo'
          });
          $("#id_cdc").val('Fatto !');
        });

        let treeView = $("#jqxTreeView");
        function sig_vince() {
           let cdcUrl = $("#jqxTreeView").attr("lista-cdc-url");
           let source = {
             datatype: "json",
             datafields: [
               {name: 'parent'},
               {name: 'nome'},
               {name: 'id'}],
             url: cdcUrl,
             async: true
           };
           let dataAdapter = new $.jqx.dataAdapter(source, {
             loadComplete: function () {
               var records = dataAdapter.getRecordsHierarchy('id', 'parent', 'items', [{name: 'nome', map: 'label'}]);
               treeView.jqxTree({source: records, width: '300px'})
             }
           });
           dataAdapter.dataBind();
         }
    });
</script>

{% endblock %}


<table width="100%" border="1">
      <tr>
          <td><strong>Recapiti Telefonici :</strong></td>
          <td></td>
      </tr>
      <tr>
          <td width="50%"><div>{% siw_field form.doc_tel1 %} : {% siw_field form.tel1 %}</div></td>
          <td width="50%"><div>{% siw_field form.doc_tel2 %} : {% siw_field form.tel2 %}</div></td>
      </tr>
      <tr>
          <td width="50%"><div>{% siw_field form.doc_tel3 %} : {% siw_field form.tel3 %}</div></td>
          <td width="50%"><div>{% siw_field form.doc_tel4 %} : {% siw_field form.tel4 %}</div></td>
      </tr>
      <tr>
          <td><strong>Indirizzi e-mail :</strong></td>
          <td></td>
      </tr>
      <tr>
          <td width="50%"><div>{% siw_field form.doc_mail1 %} : {% siw_field form.mail1 %}</div></td>
          <td width="50%"><div>{% siw_field form.doc_mail2 %} : {% siw_field form.mail2 %}</div></td>
      </tr>
  </table>

  <p>
      <strong>Eventuali Annotazioni :</strong> {% siw_field form.note %}
  </p>

