{% extends 'base.html' %}
{% load jqwidgets_tags %}
{% load si_template_tags %}
{% comment %}
    La funzione 'can' è definita come template tag nel modulo accounts/templatetags/si_template_tags.py
    Il dizionario 'siwperms' è definito nel template processor nel modulo siw/context_processor.py
{% endcomment %}

{% block title %}Inserisce Ripartizione su Centri di Costo{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}

<div id="id_dettaglio_ordine">
  <p>
    Tipo di Ordine : {{ ordine.get_tipo_display }}<br>
    Stato : {{ ordine.get_stato_display }}<br>
    Numero Protocollo : {{ ordine.numero_protocollo }}<br>
    Data Ordine : {{ ordine.data_ordine|date:"SHORT_DATE_FORMAT" }}<br>
    Fornitore : {{ ordine.fornitore }}<br>
    Descrizione : {{ ordine.descrizione }}<br>
    Imponibile : {{ ordine.imponibile }}<br>
    Aliquota IVA : {{ ordine.aliquota_IVA }} %<br>
    IVA Comunque Indetraibile : {{ ordine.percentuale_IVA_indetraibile }} %<br>
    Note : {{ ordine.note }}<br>
  </p>
</div>
<hr>
<div id="id_lista_cdc_ripartizioni">
  {% if lista_ripartizioni %}
    Ripartizioni già presenti<br>
    <table style="width:100%" border="1">
      <thead>
        <tr>
          <th>CDC</th>
          <th>Percentuale di Competenza</th>
          <th>Azione</th>
        </tr>
      </thead>
      <tbody>
      {% for item_ripartizione in lista_ripartizioni %}
        <tr>
          <td>{{ item_ripartizione.cdc.nome }}</td>
          <td>{{ item_ripartizione.percentuale_di_competenza }}</td>
          <td>
            {% if user|can:siwperms.ACQUISTI_ORDINI_MODIFICA %}     {# Vedi nota sopra per spiegazione #}
              <a href="{% url 'acquisti:ordine_modifica' item_ripartizione.pk %}" id="modifica_ordine">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
              </a>
            {% else %}
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
      Nessun CDC ancora assegnato.
  {% endif %}
</div>
  <hr>
<form method="post" novalidate>

  {% csrf_token %}
  {% include "includes/form_head.html" with form=ripartizione %}

  <table width="100%" border="1">
      <tr>
        <td align="center"><button type="button" id="choose_cdc">Scegli CDC</button></td>
        <td>{% siw_field ripartizione.cdc_txt %}</td>
      </tr>
      <tr>
        <td>Percentuale di competenza : </td>
        <td>{% siw_field ripartizione.percentuale_di_competenza %}</td>
      </tr>
  </table>

  <p>
  <div align="center">
    <button id="do_insert" type="submit">Salva</button>
  </div>
  </p>

</form>

  <div id="choose_cdc_window">
    <div></div>
    <div>
        <div id='jqxTreeView' lista-cdc-url="{% url 'amm:ajax_centri_di_costo_per_treeview' %}"></div>
        <div id="do_select"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function () {
        $("#do_insert").jqxButton({ width: '200', height: '30', template: "success"});

        $("#choose_cdc").jqxButton({ width: '100', height: '30', template: "success"});
        $("#choose_cdc").on('click', function () {
          $('#choose_cdc_window').jqxWindow({  width: 400,
                      height: 600, resizable: false,
                      position: 'center',
                      isModal: true,
                      initContent : sig_vince(),
                      title: 'Scegli Centro di Costo'
          });
          $("#do_select").jqxButton({ width: '200', height: '30', template: "success", value: "Conferma Selezione"});
          $("#do_select").on('click', function () {
              $('#choose_cdc_window').jqxWindow('close');
          });
          $('#choose_cdc_window').jqxWindow('open');
        });

        let treeView = $("#jqxTreeView");
        function sig_vince() {
           let cdcUrl = $("#jqxTreeView").attr("lista-cdc-url");
           let source = {
             datatype: "json",
             datafields: [
               {name: 'parent'},
               {name: 'nome'},
               {name: 'id'}],
             url: cdcUrl,
             async: true
           };
           let dataAdapter = new $.jqx.dataAdapter(source, {
             loadComplete: function () {
               var records = dataAdapter.getRecordsHierarchy('id', 'parent', 'items', [{name: 'nome', map: 'label'}]);
               treeView.jqxTree({source: records, width: '300px'})
             }
           });
           dataAdapter.dataBind();
           $('#jqxTreeView').on('select',function (event) {
                var args = event.args;
                var item = $('#jqxTreeView').jqxTree('getItem', args.element);
                $("#id_cdc_txt").val(item.label);
                $("#id_cdc").val(item.id);
           });
        }
    });
</script>

{% endblock %}



