{% extends 'base.html' %}
{% load jqwidgets_tags %}
{% load si_template_tags %}
{% load static %}

{% comment %}
    La funzione 'can' è definita come template tag nel modulo accounts/templatetags/si_template_tags.py
    Il dizionario 'siwperms' è definito nel template processor nel modulo siw/context_processor.py
{% endcomment %}

{% block title %}Inserisce Ripartizione su Centri di Costo{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}

<div id="id_dettaglio_ordine">
  <h3>Ordine Web</h3>
  <p>
    Stato : {{ ordine.get_stato_display }}<br>
    Numero Protocollo : {{ ordine.numero_protocollo }}<br>
    Data Ordine : {{ ordine.data_ordine|date:"SHORT_DATE_FORMAT" }}<br>
    Descrizione : {{ ordine.descrizione }}<br>
    Imponibile : {{ ordine.imponibile }}<br>
    Aliquota IVA : {{ ordine.aliquota_IVA }} %<br>
    IVA Comunque Indetraibile : {{ ordine.percentuale_IVA_indetraibile }} %<br>
    Note : {{ ordine.note }}<br>
  </p>
</div>
<hr>
<div id="id_lista_cdc_ripartizioni" href="{% url 'acquisti:ajax_lista_ripartizioni_per_ordine_web' ordine.pk %}">
</div>
<hr>
<form method="post" novalidate>

  {% csrf_token %}
  {% include "includes/form_head.html" with form=ripartizione %}

  <table width="100%" border="1">
      <tr>
        <td align="center"><button type="button" id="choose_cdc">Scegli CDC</button></td>
        <td>{% siw_field ripartizione.cdc_txt %}</td>
      </tr>
      <tr>
        <td>Percentuale di competenza : </td>
        <td>{% siw_field ripartizione.percentuale_di_competenza %}</td>
      </tr>
  </table>

  <p>
  <div align="center">
    <button id="button_ripartizione_su_cdc_save" type="submit">Salva</button>
  </div>
  </p>

</form>

  <div id="choose_cdc_window">
    <div></div>
    <div align="center">
        <div id='jqxTreeView' lista-cdc-url="{% url 'amm:ajax_centri_di_costo_per_treeview' %}"></div>
        <div id="button_cdc_select"></div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <script type="text/javascript" src="{% static 'js/ripartizione_su_cdc.js' %}"></script>
{% endblock %}



