{% extends 'base.html' %}

{% block title %}Lista Ordini Web{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% load si_template_tags %}
{% comment %}
    La funzione 'can' è definita come template tag nel modulo accounts/templatetags/si_template_tags.py
    Il dizionario 'siwperms' è definito nel template processor nel modulo siw/context_processor.py
{% endcomment %}

{% block content %}
<h3>Lista Ordini Web</h3>
<br>
  I due PULSANTI SONO DA RIVEDERE !!!!
  {% if user|can:siwperms.ACQUISTI_ORDINI_RICALCOLA_TUTTO %}
    <div align="right">
      <a href="{% url 'acquisti:ordini_ricalcola_tutto' %}">
        <span class="fa fa-calculator" aria-hidden="true" style="color:blue"></span>Ricalcola tutto
      </a>
    </div>
  {% endif %}
<br>
  {% if user|can:siwperms.ACQUISTI_ORDINI_INSERISCE %}
    <div align="right">
      <a href="{% url 'acquisti:ordine_inserisce' %}">
        <span class="fa fa-plus-circle" aria-hidden="true" style="color:blue"></span>Inserisci Nuovo Ordine
      </a>
    </div>
  {% endif %}
<br>

{% regroup spese by stato as spese_by_stato %}

{% for lista_spese in spese_by_stato %}
  <hr>
  <table style="width:100%" border="1">
    <thead>
      <tr>
        <th>Prot.</th>
        <th>Data</th>
        <th>Stato</th>
        <th>Descrizione</th>
        <th>Costo</th>
        <th>CDC</th>
        <th>Azione</th>
      </tr>
    </thead>
    <tbody>

    {% for spesa in lista_spese.list %}
      <tr>
        <td>{{ spesa.numero_protocollo }}</td>
        <td>{{ spesa.data_ordine|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ spesa.get_stato_display }}</td>
        <td>{{ spesa.descrizione }}</td>
        <td>{{ spesa.costo }}</td>
        {% if spesa.cdc_verbose %}
          <td>
        {% else %}
          <td bgcolor="#8b0000">
        {% endif %}
          <a href="{% url 'acquisti:inserimento_cdc' spesa.pk %}">
              {{ spesa.cdc_verbose }}
          </a> RIVEDERE
        </td>
        <td>
          {% if user|can:siwperms.ACQUISTI_ORDINI_MODIFICA %}     {# Vedi nota sopra per spiegazione #}
            <a href="{% url 'acquisti:ordine_modifica' spesa.pk %}" id="modifica_ordine">
              <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
            </a>
          {% else %}
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          {% endif %}
        RIVEDERE
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endfor %}


{% endblock %}

{% block javascript %}
{% endblock %}