{% extends 'base.html' %}

{% block title %}Inserisce Collaboratore{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}

<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}


<br><br>
<div id="combobox"></div>

  {{ form.as_p }}

</form>



{% endblock %}

{% block javascript %}
<script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var data = new Array();
            var valori = ["Abitazione", "Cellulare", "Lavoro", "Altro"];

            var valoriLength = valori.length;
            for (var i = 0; i < valoriLength; i++) {
                var row = {};
                row["tipo"] = valori[i];
                data.push(row);
            }

            var source =
            {
                localdata: data,
                datatype: "array"
            };
            var dataAdapter = new $.jqx.dataAdapter(source);

    $('#combobox').jqxComboBox({ placeHolder: "Tipo Telefono",  source: dataAdapter, displayMember: 'tipo',
        valueMember: "tipo", height: 30, width: 270});
});
    </script>
{% endblock %}


jqxComboBox({placeHolder: 'doc_tel1',  height:'30',  width:'350',  minLength:'1',  });

