{% extends 'base.html' %}

{% block title %}Lista Collaboratori{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}
<table style="width:100%">
  <thead>
    <tr>
      <th>Cognome</th>
      <th>Nome</th>
      <th>Dettagli</th>
    </tr>
  </thead>
  <tbody>
  {% for collaboratore in collaboratori %}
  <tr>
      <td>{{ collaboratore.persona.cognome }}</td>
      <td>{{ collaboratore.persona.nome }}</td>
      <td>Dettagli</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



    Iniziative <br>
  {% for iniziativa in iniziative %}
    -){{ iniziativa.nome }} - {{ iniziativa.descrizione }} <br>
        {% for progetto in progetti %}
            {% if progetto.iniziativa == iniziativa %}
                    &nbsp;&nbsp;+--> {{ progetto.nome }} - {{ progetto.descrizione }}<br>
                    {% for sottoprogetto in sottoprogetti %}
                        {% if sottoprogetto.progetto == progetto %}
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            +----> {{ sottoprogetto.nome }} - {{ sottoprogetto.descrizione }}<br>
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% endfor %}
  {% endfor %}

{% endblock %}

{% block javascript %}
{% endblock %}