{% extends 'base.html' %}
{% load static %}
{% load si_template_tags %}

{% block title %}Mostra Collaboratore{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% endblock %}

{% block content %}
<br>
{% if user|can:siwperms.COLLABORATORE_MODIFICA %}
    <div align="right">
      <a href="{% url 'collaboratori:modifica_esistente' collaboratore.pk %}">
        <span class="fa fa-pencil-square-o" aria-hidden="true" style="color:blue"></span>Modifica
      </a>
    </div>
{% endif %}
<br>
{% if user|can:siwperms.ANAGRAFE_DETTAGLIO_PERSONA_MOSTRA %}
    <div align="right">
      <a href="{% url 'anagrafe:ajax_dettaglio_persona' collaboratore.persona.pk %}" onclick='return carica_dettaglio_collaboratore()' id="ciccio">
        <span class="fa fa-search-plus" aria-hidden="true" style="color:blue"></span>Visualizza Dettaglio Anagrafica
      </a>
    </div>
{% endif %}
<br>
<table border="1" width="100%">
    <tr>
        <td colspan="2">Dettagli Collaboratore
    </tr>
    <tr>
        <td colspan="2">Cognome e nome : <strong>{{ collaboratore.persona.cognome }}, {{ collaboratore.persona.nome }}</strong></td>
    </tr>
    <tr>
        <td colspan="2"><strong>Recapiti Telefonici</strong></td>
    </tr>
    <tr>
        <td width="50%">{% descrizione_e_valore collaboratore.doc_tel1 collaboratore.tel1 %}</td>
        <td>{% descrizione_e_valore collaboratore.doc_tel2 collaboratore.tel2 %}</td>
    </tr>
    <tr>
        <td>{% descrizione_e_valore collaboratore.doc_tel3 collaboratore.tel3 %}</td>
        <td>{% descrizione_e_valore collaboratore.doc_tel4 collaboratore.tel4 %}</td>
    </tr>
    <tr></tr>
    <tr>
        <td colspan="2"><strong>Indirizzi mail</strong></td>
    </tr>
    <tr>
        <td>{% descrizione_e_valore collaboratore.doc_mail1 collaboratore.mail1 %}</td>
        <td>{% descrizione_e_valore collaboratore.doc_mail2 collaboratore.mail2 %}</td>
    </tr>
    <tr></tr>
    <tr>
        <td colspan="2"><strong>Note</strong></td>
    </tr>
    <tr>
        <td colspan="2">{{ collaboratore.note }}</td>
    </tr>
</table>
{% include "includes/form_systemdata.html" with form=collaboratore %}

<div id="window_detail">
    <div id="window_detail_header"></div>
    <div id="window_detail_content"></div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  function carica_dettaglio_collaboratore() {
    let url = $("#ciccio").attr("href");  // recupera l'url del dettaglio collaboratore
    $.ajax({
      url: url,
      success: function(dettaglio_collaboratore){
          apre_finestra(dettaglio_collaboratore);
      }
    });
    return false  // Così fermo l'apertura del link dell'href !
  }

  function apre_finestra(dettaglio_collaboratore) {
    let finestra = $('#window_detail');
    finestra.jqxWindow({
      width: '80%', height: '80%',
      resizable: false,
      isModal: true,
      content: dettaglio_collaboratore
    });
    finestra.jqxWindow({ title: 'Dettaglio Anagrafica Collaboratore' });
    finestra.jqxWindow('open');
  }
</script>
{% endblock %}