{% load static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SI Scuola Camerana{% endblock %}</title>
    <!-- Add Google Font Peralta -->
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">

    <!-- La mia Favicon ! -->
    <link rel="icon" type="image/png" href="{% static 'img/goby.png' %}" />

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4/css/bootstrap.css' %}" type="text/css" />

    <!-- Add one of the jQWidgets styles : Bottostrap Selected-->
    <link rel="stylesheet" href="{% static 'jqwidgets/styles/jqx.base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jqwidgets/styles/jqx.orange.css' %}" type="text/css" />


    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="{% static 'fa470/css/font-awesome.min.css' %}">

    <!-- add the jQuery script -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <!-- add the Bootstrap javascript -->
    <script type="text/javascript" src="{% static 'bootstrap-4/js/bootstrap.js' %}"></script>
    <!-- add the jQWidgets framework -->
    <script type="text/javascript" src="{% static 'jqwidgets/jqxcore.js' %}"></script>
    <!-- add one or more widgets -->
    <script type="text/javascript" src="{% static 'jqwidgets/jqx-all.js' %}"></script>
    <!-- add support for localization -->
    <script type="text/javascript" src="{% static 'jqwidgets/globalization/globalize.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/globalization/globalize.culture.it-IT.js' %}"></script>
  </head>
  <body>
    {% block body %}
      {# Setta il tema di JQWidgets a livello globale #}
      <script type="text/javascript">
        $(function() { $.jqx.theme = 'orange'; });
      </script>

      <table width="100%">
        <tr>
          <td align="left" width="50%"><a class="brand" href="{% url 'home' %}">SI Scuola Camerana</a></td>
          <td align="right" width="50%"><div id="id_anno_formativo"></div></td>
        </tr>
      </table>
      <script type="text/javascript">
      $(document).ready(function () {
          let source_af = {
             datatype: "json",
             datafields: [
                 {name: 'pk'},
                 {name: 'anno_formativo'}
             ],
             url: "{% url 'amm:ajax_load_af' %}"
          };
          let dataAdapter_af = new $.jqx.dataAdapter(source_af);

          $("#id_anno_formativo").jqxComboBox({placeHolder: 'Anno Formativo', source: dataAdapter_af,
            displayMember: "anno_formativo", valueMember: "pk"});
          $("#id_anno_formativo").on('bindingComplete', function (event) {
            $("#id_anno_formativo").val('{{ anno_formativo }}');
            });
          $("#id_anno_formativo").on('change', function (event)
           {
              var args = event.args;
              if (args) {
              // index represents the item's index.
              var index = args.index;
              var item = args.item;
              // get item's label and value.
              var label = item.label;
              var value = item.value;
              var type = args.type; // keyboard, mouse or null depending on how the item was selected.

              $.ajax({                       // Inizializza la richiesta AJAX
                  url: "{% url 'amm:ajax_set_af' %}",                    // Imposta l'url della richiesta (= localhost:8000/attesta/ajax/load-corsi/)
                  data: {
                    'anno_formativo': label
                  }
              });
           }
           });
      });
      </script>

      {# Include il menù principale #}
      {% include "includes/menu.html" %}

      {% block breadcrumb %} {% endblock breadcrumb %}

      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>

    {% endblock body %}
    {% block javascript %}{% endblock %}
  </body>
</html>
