{% load static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <title>{% block title %}SI Scuola Camerana{% endblock %}</title>
    <!-- Add Google Font Peralta -->
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">

    <!-- La mia Favicon ! -->
    <link rel="icon" type="image/png" href="{% static 'img/goby.png' %}" />

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />

    <!-- Add one of the jQWidgets styles : Darkblue Selected-->
    <link rel="stylesheet" href="{% static 'jqwidgets/styles/jqx.base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jqwidgets/styles/jqx.orange.css' %}" type="text/css" />


    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="{% static 'fa470/css/font-awesome.min.css' %}">

    <!-- add the jQuery script -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <!-- add the jQWidgets framework -->
    <script type="text/javascript" src="{% static 'jqwidgets/jqxcore.js' %}"></script>
    <!-- add one or more widgets -->
    <script type="text/javascript" src="{% static 'jqwidgets/jqx-all.js' %}"></script>
  </head>

  <body>
    {% block body %}
      {# Setta il tema di JQWidgets a livello globale #}
      <script type="text/javascript">
        $(function() { $.jqx.theme = 'orange'; });
      </script>

      <a class="brand" href="{% url 'home' %}">SI Scuola Camerana</a>

      {# Include il menù principale #}
      {% include "includes/menu.html" %}

      {% block breadcrumb %} {% endblock breadcrumb %}

      {% block content %}{% endblock %}

    {% endblock body %}
    {% block javascript %}{% endblock %}
  </body>
</html>
